/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/02/2017, 19:20:05
    Author     : Luciana
*/
@import "fonts/fonts.css";

html, body {
    height: 100%;
}

#title {
    font-family: "Typo_Round_Thin_Demo";
    font-size: 70px;
    margin-left: 100px;
    margin-top: 10px;
    color: white;

}


#img{
    top: -50px;
    background-image: url("../img/Sem título-2-01.png"); /* Insere a imagem */
    background-repeat: no-repeat;
    width:900px;/* Faz a largura ficar igual a da largura da imagem de exemplo */
    height: 100px; 
    left:7000px;


}

#fund{
    top: 500px;
    background-image: url("../img/Tela 1.jpg"); /* Insere a imagem */
    background-repeat: no-repeat;
    height: 500px;
    color: white;
    margin-left:-8px;
    padding: 10px;
    width: 1206px;



}

#option-1{
    background: #666 url('../img/book-xxl.png') no-repeat;

    font-family: "Typo_Round_Thin_Demo";
    font-size: 30px;

    color: white;
    background: brown;
    position:absolute;
    top:-30px;
    left:700px;
    margin:60px;
    padding:10px;
    border-radius: 20px;
    box-shadow: black 0.2em 0.2em 0.3em;
    border-color: transparent;
}


#option-2{
    font-family: "Typo_Round_Thin_Demo";
    font-size: 30px;
    color: white;
    background-image: url("../img/book-xxl.png"); 
    background: brown;
    position:absolute;
    top:-30px;
    left:900px;
    margin:60px;
    padding:10px;
    border-radius: 20px;
    box-shadow: black 0.2em 0.2em 0.3em;
    border-color: transparent;
}

#h1{
    background-color: brown;    /* vermelho */
    margin-top:-10px;
    margin-left:-8px;
    padding: 10px;
    width: 1206px;
}


#rodape{

    background-color: brown;    /* vermelho */

    margin-left:-8px;
    padding: 10px;
    width: 1206px;
    position: absolute;
    font-family: "Typo_Round_Thin_Demo";
    color: white;
    font-size: 20px;

    
    
    padding: 10px;
}


#btAlfa{
    background: #666 url('../img/book-xxl.png') no-repeat;

    font-family: "Typo_Round_Thin_Demo";
    font-size: 30px;

    color: white;
    background: brown;
    position:relative;
    top:-100px;
    width: 200px;
    left:50px;
    margin:180px;
    padding:10px;
    border-radius: 20px;
    box-shadow: black 0.2em 0.2em 0.3em;
    border-color: transparent;
}
#btCor{
    background: #666 url('../img/book-xxl.png') no-repeat;

    font-family: "Typo_Round_Thin_Demo";
    font-size: 30px;

    color: white;
    background: brown;
    position:relative;
    top:-390px;
    left:50px;
    margin:180px;
    padding:10px;
    width: 200px;
    border-radius: 20px;
    box-shadow: black 0.2em 0.2em 0.3em;
    border-color: transparent;
}
#btNum{
    background: #666 url('../img/book-xxl.png') no-repeat;

    font-family: "Typo_Round_Thin_Demo";
    font-size: 30px;

    color: white;
    background: brown;
    position:relative;
    top:-100px;
    width: 200px;
    left:-55px;
    margin:180px;
    padding:10px;
    border-radius: 20px;
    box-shadow: black 0.2em 0.2em 0.3em;
    border-color: transparent;
}
#btAni{
    background: #666 url('../img/book-xxl.png') no-repeat;

    font-family: "Typo_Round_Thin_Demo";
    font-size: 30px;

    color: white;
    background: brown;
    position:relative;
    top:-390px;
    width: 200px;
    left:-55px;
    margin:180px;
    padding:10px;
    border-radius: 20px;
    box-shadow: black 0.2em 0.2em 0.3em;
    border-color: transparent;
}