/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/02/2017, 21:36:36
    Author     : Luciana
*/

@font-face {
    font-family: "Typo_Round_Thin_Demo";
    src:  url(Typo_Round_Thin_Demo.otf);
    src: url('Typo_Round_Thin_Demo.otf?#iefix') format('embedded-opentype'),
    url('Typo_Round_Thin_Demo.otf.svg#Locaweb-Icons') format('svg'),
    url('Typo_Round_Thin_Demo.otf') format('truetype');
  font-weight: bolder;
  font-style: oblique;
  font-weight: bold;   
    

}